.empty-card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 208px;
  height: 123px;
  left: 83px;
  top: 493px;

  font-size: 30px;
  color: #575757;

  background: #e5e5e5;
  border-radius: 5px;

  user-select: none;
}

.small-card {
  width: 208.2px;
  height: 130px;
  left: 83px;
  top: 305px;

  background: #94dacd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.big-card {
  width: 293.08px;
  height: 183px;
  left: 41.96px;
  top: 235px;

  background: #94dacd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.empty-card:hover,
.small-card:hover,
.big-card:hover {
  cursor: pointer;
}
